body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
table {
    margin: auto;
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 80%;
    text-align: center; /* Add this line to center the content */
}
table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #af704c;
    color: white;
}
